{% extends "dashboard/dashboard.html" %}

{% block title %}User Dashboard{% endblock title %}

{% block tasks %}
<!-- table -->
<div class="grid md:grid-cols-1 lg:grid-cols-2 gap-4">
    <div class="bg-white rounded-lg p-5">
        <h2 class="text-2xl font-bold mb-4">Today's Tasks</h2>
        <div class="flex justify-between mb-1">
            <div class="flex items-center gap-2">
                <div class="w-2 h-2 bg-green-700 rounded-full"></div>
                <span>Complete project proposal</span>
            </div>
            <div><span class="text-gray-500">High</span></div>
        </div>
        <div class="flex justify-between mb-1">
            <div class="flex items-center gap-2">
                <div class="w-2 h-2 bg-amber-500 rounded-full"></div>
                <span>Review team updates</span>
            </div>
            <div><span class="text-gray-500">Normal</span></div>
        </div>
        <div class="flex justify-between">
            <div class="flex items-center gap-2">
                <div class="w-2 h-2 bg-blue-700 rounded-full"></div>
                <span>Prepare for client meeting</span>
            </div>
            <div><span class="text-gray-500">Low</span></div>
        </div>
    </div>

    <div class="bg-white rounded-lg  p-5">
        <h2 class="text-2xl font-bold mb-4">All Tasks</h2>
        <div class="grid grid-cols-4 text-gray-500 font-semibold mb-1">
            <div>TASK TITLE</div>
            <div>PRIORITY</div>
            <div>TEAM</div>
            <div>CREATED AT</div>
        </div>
        <div class="grid grid-cols-4 mb-1">
            <div class="flex items-center gap-2">
                <div class="w-2 h-2 bg-green-700 rounded-full"></div>
                <span>Test Low Task</span>
            </div>
            <div class="flex items-center"><span class="text-blue-500 bg-blue-100 rounded-lg px-3 py-1">Low</span>
            </div>
            <div class="flex -space-x-2 items-center">
                <button
                    class="bg-blue-500 rounded-full text-white font-semibold w-10 h-10 border-2 border-white">CA</button>
                <button
                    class="bg-green-500 rounded-full text-white font-semibold w-10 h-10 border-2 border-white">JS</button>
                <button
                    class="bg-amber-500 rounded-full text-white font-semibold w-10 h-10 border-2 border-white">B</button>
            </div>
            <div class="flex items-center"><span class="text-gray-500">6 months ago</span></div>
        </div>

        <div class="grid grid-cols-4 mb-1">
            <div class="flex items-center gap-2">
                <div class="w-2 h-2 bg-amber-500 rounded-full"></div>
                <span>Test Task</span>
            </div>
            <div class="flex items-center"><span class="text-gray-500 bg-gray-100 rounded-lg px-3 py-1">Normal</span>
            </div>
            <div class="flex -space-x-2 items-center">
                <button
                    class="bg-red-500 rounded-full text-white font-semibold w-10 h-10 border-2 border-white">AJ</button>
                <button
                    class="bg-purple-500 rounded-full text-white font-semibold w-10 h-10 border-2 border-white">EV</button>
                <button
                    class="bg-amber-500 rounded-full text-white font-semibold w-10 h-10 border-2 border-white">B</button>
            </div>
            <div class="flex items-center"><span class="text-gray-500">3 months ago</span></div>
        </div>

        <div class="grid grid-cols-4">
            <div class="flex items-center gap-2">
                <div class="w-2 h-2 bg-red-700 rounded-full"></div>
                <span>Test Task</span>
            </div>
            <div class="flex items-center"><span class="text-red-500 bg-red-100 rounded-lg px-3 py-1">High</span>
            </div>
            <div class="flex -space-x-2 items-center">
                <button
                    class="bg-blue-500 rounded-full text-white font-semibold w-10 h-10 border-2 border-white">CA</button>
                <button
                    class="bg-green-500 rounded-full text-white font-semibold w-10 h-10 border-2 border-white">JS</button>
                <button
                    class="bg-red-500 rounded-full text-white font-semibold w-10 h-10 border-2 border-white">AJ</button>
                <button
                    class="bg-amber-500 rounded-full text-white font-semibold w-10 h-10 border-2 border-white">B</button>
            </div>
            <div class="flex items-center"><span class="text-gray-500">2 months ago</span></div>
        </div>
    </div>
</div>
{% endblock tasks %}